


@font-face {
  font-family: "OPTIPiranesi";
  src: url("./fonts/OPTIPiranesi-Italic.otf");
}

@font-face {
  font-family: "clarendon-bt-pro-bold-condensed";
  src: url("./fonts/clarendon-bt-pro-bold-condensed.otf");
}

.navbar-nav > .active > a {
  color: #e9a64e;
}
.nav-item > a:hover {
  color: #f0c791;
}

header {
  font-family: "clarendon-bt-pro-bold-condensed";
}

.farm-image {
  max-width: 100%; 
}

.cheese-image {
  max-height: 150px;
}
.goat-container {
  border: solid 1px white;
  
}
.goat-image {
    max-width: 100%;
    
}

.hline {
  border-bottom: solid 6px rgb(255, 208, 0);
}


.picColorLogo {
  position: absolute;
  top:0px;
  left:150px;
  max-width: 180px;
  opacity: 100%;
}

.piranesiFont {
  font-family: "OPTIPiranesi";
  font-size: 30px;
  
}
.cheeseName {
  text-decoration: underline;
  
}

.picBwLogo {
  position: relative;
  top:-30px;
  left:0px;
  max-width: 200px;
  opacity: 100%;
}
/* {
  border: solid 1px black;
}


/*body {
  font-family: "OPTIPiranesi";
}


.pic2 {
  position: absolute;
  top:20px;
  left:0px;
  max-width: 20%;
  opacity: 100%;
}


.gborder-bottom {
  border-bottom: solid 2px white;
}

.gborder-right {
  border: solid 2px white;
}

